.additional-payments-button {
    @apply mt-2 py-2 w-full bg-gray-700 text-gray-300 text-center text-sm;
}

.additional-payments-input-container {
    @apply flex flex-col justify-center m-auto mt-2 w-auto bg-gray-800;
}

.additional-payments-input-container > button {
    @apply mt-4 text-gray-300 border-gray-300;
}

.additional-payments-input-container__close-button {
    @apply m-auto w-1/5  py-2 mb-2 text-xs;
}

.additional-payments-input-container__grid {
    @apply grid grid-cols-2;
}

.additional-payments-input-container__grid > label {
    @apply px-4 py-2 text-sm;
    color: var(--not-important)
}

.additional-payments-input-container__grid > input {
    @apply bg-gray-700 px-4 text-right border border-gray-500;
    color: var(--secondary-text)
}

.show-additional-payments-container {
    @apply grid grid-cols-3;
}

.show-additional-payments-container > p:first-child {
    @apply py-2 text-center text-sm;
    color: var(--not-important);
}

.show-additional-payments-container > p:nth-child(2) {
    @apply px-4 py-2 text-right;
    color: var(--success);
}

.show-additional-payments-container > button {
    @apply border px-4 m-auto border-red-800;
    color: var(--error);
}
