.amortization-container {
    @apply w-full mt-4;
}

.amortization-headers {
    @apply grid grid-cols-4;
    color: var(--not-important)
}

.amortization-headers > div {
    @apply text-justify text-sm border-b md:px-8 border-gray-500 overflow-x-clip;
}

.amortization-headers > div:first-child {
    @apply px-2;
}

.amortization-entry__container {
    @apply h-[50vh] overflow-scroll;
}

.amortization-entry {
    @apply amortization-headers;
}

.amortization-entry > p {
    @apply text-justify text-sm border-b border-gray-700 md:px-8 md:py-2 py-1 font-thin;
    font-family: 'Roboto Mono', monospace;
}

.amortization-entry > div {
    @apply border-b border-gray-700;
    font-family: 'Roboto Mono', monospace;
}

.amortization-entry > div > p:nth-child(2) {
    @apply text-xs text-center;
    font-family: 'Roboto Mono', monospace;
}

.amortization-entry > p:first-child {
    @apply text-xs px-2;
    color: var(--not-important)
}

.amortization-entry > p:nth-child(2) {
    color: var(--error);
}

.amortization-entry > div {
    color: var(--success);
}


.amortization-entry > p:last-child {
    color: var(--secondary-text)
}