:root {
    --primary-text: #4285F4;
    --secondary-text:  #F4B400;
    --information-text: #d1d5d8;
    --success: #0F9D58;
    --error: #DB4437;
    --not-important: #999999;
}

body {
    @apply bg-black;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
