:root {
    --primary-text: #38bdf8;
    --secondary-text:  #eab308;
    --success: #84cc16;
    --error: #ef4444;
    --not-important: #6b7280;
}

body {
    @apply bg-black;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
